<div class="formDialogHeader">
    <button is="paper-icon-button-light" class="btnCancel autoSize" tabindex="-1"><i class="md-icon">arrow_back</i></button>
    <h3 class="formDialogHeaderTitle">${Subtitles}</h3>

    <a is="otg-linkbutton" data-autohide="true" class="button-link btnHelp flex align-items-center" href="https://otg.com/docs" target="_blank" style="margin-left:auto;margin-right:.5em;padding:.25em;" title="${Help}"><i class="md-icon">info</i><span style="margin-left:.25em;">${Help}</span></a>

</div>
<div class="formDialogContent smoothScrollY">
    <div class="dialogContentInner dialog-content-centered">

        <div class="subtitleList" style="margin-bottom:2em;"></div>
        <h2>${SearchForSubtitles}</h2>

        <p style="margin: 1.5em 0;" class="originalFile"><span class="originalSubtitleFileLabel secondaryText"></span><span class="pathValue"></span></p>

        <form class="subtitleSearchForm" style="max-width: none;">
            <div class="flex align-items-center">
                <div class="selectContainer flex-grow" style="margin-bottom: 0;">
                    <select is="otg-select" id="selectLanguage" required="required" label="${LabelLanguage}" autofocus></select>
                </div>
                <button type="submit" is="paper-icon-button-light" title="${Search}" class="btnSearchSubtitles flex-shrink-zero otg-select-iconbutton"><i class="md-icon">search</i></button>
            </div>
            <button is="otg-button" type="submit" class="raised btnSubmit block button-submit">${Search}</button>
        </form>
        <br />
        <div class="subtitleResults"></div>
        <div class="noSearchResults hide">
            ${NoSubtitleSearchResultsFound}
        </div>
    </div>
</div>
